<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
	<link rel="stylesheet" href="/static/sass/compilado/index.css">
	<link rel="stylesheet" href="/static/tipografias/iconos/css/hmoreda_com.css">
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<link rel="icon" href="/static/imagenes/favicon.ico" sizes="any">
	
</head>
<body>
	{{template "navbar.html" .}}
	<div class="cuerpo">
		<div class="articulos">
			<a class="articuloPrincipal borde2 completo" href="/articulo/blabla">
				<div class="superior">
					<div class="imagen"></div>
				</div>
				<div class="mitad">
					<div class="etiqueta etiq-X1"></div>
				</div>
				<div class="inferior">
					<div class="titulo">Timeless Treasures: The Glowing Legacy of Vintage Macintosh Computers</div>
					<div class="fecha">19 feb. 2023</div>
				</div>

			</a>
			<div class="otrosArticulos">
				<a class="articulo borde2 completo" href="/articulo/blabla">
					<div class="imagen" style="background-image:url('https://wallpapercave.com/dwp1x/wp7685924.jpg')"></div>
					<div class="doble">
						<div class="etiqueta etiq-X2"></div>
						<div class="fecha">02 ene. 2022</div>
					</div>
					<div class="titulo">Python: The Swiss Army Knife of Programming</div>
				</a>
				<a class="articulo borde2 completo" href="/articulo/blabla">
					<div class="imagen" style="background-image:url('https://cdn0.scrvt.com/fokus/b10b9460c59ce9fe/1a1bf772ad3a/v/ed98abc9c90a/AI_KI_970x485.jpg')"></div>
					<div class="doble">
						<div class="etiqueta etiq-X3"></div>
						<div class="fecha">02 ene. 2022</div>
					</div>
					<div class="titulo">AI & ML: Shaping the Tech Landscape</div>
				</a>
				<a class="articulo borde2 completo" href="/articulo/blabla">
					<div class="imagen" style="background-image:url('https://wallpapercrafter.com/th800/259369-coding-technology-css-and-internet-hd.jpg')"></div>
					<div class="doble">
						<div class="etiqueta etiq-X4"></div>
						<div class="fecha">02 ene. 2022</div>
					</div>
					<div class="titulo">Web Dev 101: HTML, CSS, JS Essentials</div>
				</a>

			</div>
		</div>
	</div>
</body>
</html>