<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="/static/sass/compilado/login.css">
	<link rel="stylesheet" href="/static/tipografias/fontello-a3b68fbe/css/fontello.css">
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
	{{template "navbarCompacto.html" .}}
	<div class="cuerpo">
		<div class="formulario">
			<div class="titulo">Welcome back !</div>
			<input type="text" placeholder="Username or email"> <br>
			<input type="password" placeholder="Password"> <br>
			<button>Login</button> </p>

			Not registered yet? <a href="/register" class="render-link">Click here!</a>


		</div>

	</div>
</body>
</html>