<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Posts</title>
	<link rel="stylesheet" href="/static/sass/compilado/index.css">
	<link rel="stylesheet" href="/static/tipografias/iconos/css/hmoreda_com.css">
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<link rel="icon" href="/static/imagenes/favicon.ico" sizes="any">
	
</head>
<body>
	{{template "navbar.html" .}}
	<div class="cuerpo">
		<div class="articulos">
			<div class="otrosArticulos">
				{{ range $i, $post := .Posts }}
					<a class="articulo borde2 completo" href="/post/{{$post.ID}}">
						<div class="imagen" style="background-image:url('{{$post.CoverImg}}')"></div>
						<div class="doble">
							<div class="etiqueta etiq-X2"></div>
							<div class="fecha">{{$post.Fecha}}</div>
						</div>
						<div class="titulo">{{$post.Titulo}}</div>
					</a>
				{{ end }}
			</div>
		</div>
	</div>
</body>
</html>