@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: blockzone;
  src: url("/static/tipografias/blockzone.ttf");
}
body {
  background: #1E1E1E;
  color: rgba(255, 255, 255, 0.7);
  padding: 0;
  margin: 0;
  font-family: "blockzone";
}

.cuerpo {
  position: fixed;
  border: 1px solid lightgray;
  background: #1E1E1E;
  display: block;
  width: 100%;
  max-width: 500px;
  padding-bottom: 10px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  top: 50px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 655px;
}

.parpadeo-hover:hover, .navegador .superior .redes .opcion:hover, .navegador .superior .redes .principales .opcion-doble .opcion-peq:hover, .navegador .superior .principales .opcion-doble .redes .opcion-peq:hover, .navegador .superior .principales .opcion:hover:not(.navegador .superior .principales .opcion.seleccionada):not(.navegador .superior .principales .opcion-doble .seleccionada.opcion-peq), .navegador .superior .principales .opcion-doble .opcion-peq:hover:not(.navegador .superior .principales .opcion.seleccionada):not(.navegador .superior .principales .opcion-doble .seleccionada.opcion-peq), .link-render:hover {
  animation: parpadeo 1s infinite;
  cursor: pointer;
}

@keyframes parpadeo {
  0%, 24%, 76% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.borde, .navegador .inferior, .navegador .centro {
  border-style: none;
  border-width: 3px 5px;
  border-color: white;
}
.borde.completo, .navegador .completo.inferior, .navegador .completo.centro {
  border-style: double;
}
.borde.abajo, .navegador .borde.inferior, .navegador .abajo.inferior, .navegador .inferior, .navegador .abajo.centro, .navegador .centro.inferior {
  border-bottom-style: double;
}
.borde.arriba, .navegador .borde.inferior, .navegador .arriba.inferior, .navegador .inferior, .navegador .borde.centro, .navegador .centro.inferior, .navegador .arriba.centro, .navegador .centro.inferior, .navegador .centro {
  border-top-style: double;
}
.borde.derecha, .navegador .derecha.inferior, .navegador .derecha.centro {
  border-right-style: double;
}
.borde.izquierda, .navegador .izquierda.inferior, .navegador .izquierda.centro {
  border-left-style: double;
}

.borde2 {
  border-style: none;
  border-width: 1px 3px;
  border-color: white;
}
.borde2.completo {
  border-style: double;
}
.borde2.abajo, .navegador .borde2.inferior {
  border-bottom-style: double;
}
.borde2.arriba, .navegador .borde2.inferior, .navegador .borde2.centro {
  border-top-style: double;
}
.borde2.derecha {
  border-right-style: double;
}
.borde2.izquierda {
  border-left-style: double;
}

.seccion {
  border-style: solid;
  border-width: 1px 3px;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.seccion .seccion {
  margin-top: 20px !important;
}
.seccion > .titulo {
  position: absolute;
  top: -8px;
  left: 10px;
  padding: 0 5px;
  background: #1E1E1E;
}
.seccion > .contenido {
  margin: 10px 12px;
}

.link-render, .link-render:link, .link-render:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #33FFE3;
}

.brackets::before, .navegador .superior .principales .opcion:not(.navegador .superior .principales .opcion.seleccionada):not(.navegador .superior .principales .opcion-doble .seleccionada.opcion-peq) .texto::before, .navegador .superior .principales .opcion-doble .opcion-peq:not(.navegador .superior .principales .opcion.seleccionada):not(.navegador .superior .principales .opcion-doble .seleccionada.opcion-peq) .texto::before, .link-render::before, .link-render:link::before, .link-render:visited::before {
  content: "[";
  margin-right: 3px;
  color: white;
}
.brackets::after, .navegador .superior .principales .opcion:not(.navegador .superior .principales .opcion.seleccionada):not(.navegador .superior .principales .opcion-doble .seleccionada.opcion-peq) .texto::after, .navegador .superior .principales .opcion-doble .opcion-peq:not(.navegador .superior .principales .opcion.seleccionada):not(.navegador .superior .principales .opcion-doble .seleccionada.opcion-peq) .texto::after, .link-render::after, .link-render:link::after, .link-render:visited::after {
  content: "]";
  margin-left: 3px;
  color: white;
}

.brackets2::before, .navegador .superior .principales .opcion.seleccionada .texto::before, .navegador .superior .principales .opcion-doble .seleccionada.opcion-peq .texto::before {
  content: ">";
  margin-right: 3px;
  color: white;
}
.brackets2::after, .navegador .superior .principales .opcion.seleccionada .texto::after, .navegador .superior .principales .opcion-doble .seleccionada.opcion-peq .texto::after {
  content: "<";
  margin-left: 3px;
  color: white;
}

b, .seccion > .titulo {
  font-weight: unset;
  color: white;
}

@media (max-width: 509px) {
  .cuerpo {
    width: 100%;
    box-sizing: border-box;
    top: 0;
    max-height: calc(100% - 80px - 25px);
  }
}
@media (max-height: 850px) {
  .cuerpo {
    top: 25px;
  }
  .cuerpo.proyectos {
    max-height: calc(100% - 80px - 25px);
  }
}
@media (max-height: 760px) {
  .cuerpo {
    top: 0;
  }
}
@media (max-height: 695px) {
  .cuerpo {
    top: 0;
    height: calc(100% - 80px - 25px) !important;
  }
}
.no-seleccionable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(124, 198, 118);
  box-shadow: inset 0px 0px 0 5px #000;
  border-width: 0px 2px;
  border-color: transparent !important;
  border-style: dashed;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #A8E890;
  border-radius: 0;
  margin: 1px;
  border-width: 2px 2px;
  border-color: transparent !important;
  border-style: dashed;
}

::-webkit-scrollbar-track {
  border: 2px solid #A8E890;
  border-radius: 0;
  border-width: 2px 2px 2px 2px;
}

.borde-error {
  border-color: red !important;
}

.texto-error {
  color: red !important;
}

.navegador {
  position: fixed;
  background: #2F2F2F;
  width: 500px;
  height: 110px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navegador .superior {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}
.navegador .superior .titulo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-weight: 100;
  opacity: 0.3;
}
.navegador .superior .principales {
  height: 53px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navegador .superior .principales .opcion .texto, .navegador .superior .principales .opcion-doble .opcion-peq .texto {
  font-size: 18px;
}
.navegador .superior .principales .opcion.seleccionada .texto, .navegador .superior .principales .opcion-doble .seleccionada.opcion-peq .texto {
  color: #A8E890;
  border-bottom: 1px solid #A8E890;
  cursor: default;
}
.navegador .superior .principales .opcion-doble {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navegador .superior .principales .opcion-doble .opcion-peq {
  height: max-content !important;
}
.navegador .superior .principales .opcion-doble .opcion-peq:nth-last-child(1) .texto {
  font-size: 15px;
  line-height: 15px;
}
.navegador .superior .opcion, .navegador .superior .principales .opcion-doble .opcion-peq, .navegador .superior .opcion:link, .navegador .superior .principales .opcion-doble .opcion-peq:link, .navegador .superior .opcion:visited, .navegador .superior .principales .opcion-doble .opcion-peq:visited {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 10px;
  font-size: 18px;
  text-decoration-color: unset;
  text-decoration: none;
  color: white !important;
}
.navegador .superior .opcion .texto, .navegador .superior .principales .opcion-doble .opcion-peq .texto, .navegador .superior .opcion:link .texto, .navegador .superior .principales .opcion-doble .opcion-peq:link .texto, .navegador .superior .opcion:visited .texto, .navegador .superior .principales .opcion-doble .opcion-peq:visited .texto {
  text-transform: uppercase;
}
.navegador .superior .redes {
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-basis: content;
  padding-left: 3px;
  gap: 5px;
}
.navegador .superior .redes .opcion, .navegador .superior .redes .principales .opcion-doble .opcion-peq, .navegador .superior .principales .opcion-doble .redes .opcion-peq {
  margin: 0;
}
.navegador .centro {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 30px;
}
.navegador .centro .idioma.seleccionado {
  color: #A8E890;
  text-decoration: underline;
  cursor: default;
  pointer-events: none;
}
.navegador .centro .idioma:not(.seleccionado) {
  color: white;
}
.navegador .centro .idioma:not(.seleccionado):hover {
  cursor: pointer;
  text-decoration: underline;
}
.navegador .centro.borde-error .idioma.seleccionado {
  color: red;
}
.navegador .inferior {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 30px;
}
.navegador .divisor {
  display: block;
  width: 0px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 509px) {
  .navegador {
    bottom: 0 !important;
    box-sizing: border-box;
    left: 0;
    transform: unset;
    width: 100%;
  }
  .navegador .superior .titulo {
    font-size: 15px;
    margin: 0 5px;
  }
}
@media (max-width: 478px) {
  .navegador .superior .titulo {
    margin: 0 8px;
  }
  .navegador .superior .principales .opcion .texto, .navegador .superior .principales .opcion-doble .opcion-peq .texto {
    font-size: 15px;
  }
}
@media (max-width: 442px) {
  .navegador .superior .principales .opcion, .navegador .superior .principales .opcion-doble .opcion-peq {
    margin: 0 5px;
  }
  .navegador .inferior {
    font-size: 14px;
  }
}
@media (max-width: 412px) {
  .navegador .superior .titulo {
    font-size: 13px;
    display: none;
  }
  .navegador .superior .principales {
    border-left-style: none;
  }
  .navegador .inferior {
    font-size: 11px;
  }
}
@media (max-width: 333px) {
  .navegador .superior .principales {
    border-right-style: none;
    width: 100%;
  }
  .navegador .superior .redes {
    display: none;
  }
  .navegador .inferior {
    gap: 10px;
  }
}
@media (max-width: 290px) {
  .navegador .inferior {
    font-size: 10px;
  }
}
@media (max-height: 850px) {
  .navegador {
    bottom: 25px;
  }
}
@media (max-height: 760px) {
  .navegador {
    bottom: 0;
  }
}
@media (max-height: 695px) {
  .navegador {
    bottom: 0;
  }
}

/*# sourceMappingURL=navbar.css.map */
