@import 'base.scss';
.navegador {
	position: fixed;
	background: $fondo2;
	width:500px;
	height: 80px;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	display:flex;
	justify-content: center;
	align-items: center;
	
	flex-direction: column;


	.superior {
		width:100%;
		height:60px;
		display:flex;
		align-items: flex-end;
		box-sizing: border-box;
  
		.titulo {
			display:flex;
			height:100%;
			justify-content: center;
			align-items: center;
			margin:0 10px;
			font-weight: 100;
			opacity:.3;
		}


		.principales {
			height:53px;
			width:fit-content;

			display:flex;
			justify-content: center;
			align-items: center;

			.opcion {

				.texto {
					font-size:18px;
				}
				&:not(&.seleccionada) {
					@extend .parpadeo-hover;
					.texto {
						@extend .brackets;
					}
				}
				&.seleccionada .texto {
					color:$acento;
					@extend .brackets2;
					border-bottom: 1px solid $acento;
					cursor:default;
				}
			}
			
			.opcion-doble {
				height:100%;
				display:flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				.opcion-peq {
					@extend .opcion;

					height:max-content !important;

					&:nth-last-child(1) {
						.texto {
							font-size:15px;
							line-height:15px;
						}
					}
				}
			}
		}
		
		.opcion, .opcion:link, .opcion:visited {
			height:100%;
			display:flex;
			justify-content: center;
			align-items: center;

			display:flex;
			margin:0 10px;


			font-size:18px;
			text-decoration-color: unset;
			text-decoration: none;
			color:white !important;

			.texto {
				text-transform: uppercase;
			}
			
		}
		.redes {
			height:100%;
			margin: 0 auto;
			justify-content: center;
			align-items: center;
			display:flex;
			flex-basis: content;
			padding-left:3px;
			gap:5px;
			.opcion {
				margin:0;
				@extend .parpadeo-hover;
			}
		}
		
	}
	.inferior {
		height:30px;
		width:100%;
		display:flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;

		gap: 30px;

		@extend .borde, .arriba, .abajo;


		.divisor {
			display:block;
			width:0px;
			height:100%;
			justify-content: center;
			align-items: center;
		}
	}
}


@media (max-width: 509px) {
	.navegador  {
		bottom:0 !important;
		box-sizing: border-box;
		left:0;
		transform: unset;
		width:100%;

		.superior {
			.titulo {
				font-size: 15px;
				margin: 0 5px;
			}
		}
	}
}

@media (max-width: 478px) {
	.navegador {
		.superior {
			.titulo {
				margin: 0 8px;
			}
			.principales {
				.opcion .texto{
					font-size: 15px;
				}
			}
		}
	}
}

@media (max-width: 442px) {
	.navegador {
		.superior {
			.principales {
				.opcion {
					margin: 0 5px;
				}
			}
		}

		.inferior {
			font-size:14px;
		}
	}
}

@media (max-width:412px) {
	.navegador {
		.superior {
			.titulo {
				font-size:13px;
				display:none;
			}
			.principales {
				border-left-style:none;
			}
		}
		.inferior {
			font-size:11px;
		}
	}
}

@media (max-width:333px) {
	.navegador {
		.superior {
			.principales {
				border-right-style:none;
				width:100%;
			}
			.redes {
				display: none;
			}
		}
		.inferior {
			gap: 10px;

		}
	}
}

@media (max-width:290px) {
	.navegador {
		.inferior {
			font-size:10px;
		}
	}
}

@media (max-height:850px) {
	.navegador {	bottom:25px;}
}
@media (max-height:760px) {
	.navegador {	bottom:0;}
}
@media (max-height:695px) {
	.navegador {	bottom:0;}
}
