
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-globe:before { content: '\e804'; } /* '' */
.icon-window:before { content: '\e805'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
