$fondo: #0D1117;
$fondo2: #161B22;
$fondo3: #1e242c;
$borde: #30363D;
$acento: #F4A262;
$acento2: #DE5BC3;
$acento3: #6067DD;
$error: #FF4D4D;
$error2: #c01e1e;
$enlace: #33FFE3;
$temporal: #AAE574;
$blanco: white;
$blanco2: rgba(255, 255, 255, 0.7);
$online:#A8E890;

$gradiente: #F5A362 0%, #DE5BC3 70%, #6067DD 100%;


$altura-navbar: 120px;




$etiq-1:#F5A362;
$etiq-2:#DE5BC3;
$etiq-3:#6067DD;
$etiq-4: #B76F9E;
$etiq-5: #8D75E1;
$etiq-6: #C96456;
$etiq-7: #4B9E99;
$etiq-8: #937CC2;
$etiq-9: #73B79E;
$etiq-10: #73B79E;
